<div>
  dec: <input #decimal type="number" value="{{decimalNumber}}" (input)="updateCheckboxes(decimal.value)">
</div>

<div>
  bin:
  <input type="checkbox" [checked]="binaryArray[0] === 1" (change)="updateCheckbox(0)" >
  <input type="checkbox" [checked]="binaryArray[1] === 1" (change)="updateCheckbox(1)" >
  <input type="checkbox" [checked]="binaryArray[2] === 1" (change)="updateCheckbox(2)" >
  <input type="checkbox" [checked]="binaryArray[3] === 1" (change)="updateCheckbox(3)" >
  <input type="checkbox" [checked]="binaryArray[4] === 1" (change)="updateCheckbox(4)" >
  <input type="checkbox" [checked]="binaryArray[5] === 1" (change)="updateCheckbox(5)" >
  <input type="checkbox" [checked]="binaryArray[6] === 1" (change)="updateCheckbox(6)" >
  <input type="checkbox" [checked]="binaryArray[7] === 1" (change)="updateCheckbox(7)" >
</div>
